

	body {
		  margin: 0;
		  font-family: Arial, Helvetica, sans-serif;
		}
		
	html {
		background-color: #5BC236;
	}

	.logo{
			z-index: 1000;
			position: fixed;
			width: 100%;
			float: right;
		}

	.logo > img{
		float: right;
		height: 100px;
		padding: 15px;
	}

		/* NAVIGATION CODE */

		#myHeader {
			z-index: 999;
			top: 0;
		}

		.topnav {
		  overflow: hidden;
		  background-color: #7BD858;
		}

		#navigation {
			z-index: 998;
			position: sticky;
			top: 0;
		}

		.topnav a {
		  float: left;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;		 
		}

		.topnav a:hover {
		  background-color: #3FA917;
		  color: #;
		}

		.topnav a.active {
		  background-color: #2A8607;
		  color: white;
		}

		/* HEADER CODE */
		.header {
		  padding: 10px 16px;
		  background: #5BC236;
		  color: #f1f1f1;
		  position: sticky;
		}

		/* Page content */
		.content {
		  padding: 16px;
		}

		/* The sticky class is added to the header with JS when it reaches its scroll position */
		.sticky {
		  position: fixed;
		  top: 0;
		  width: 100%
		}

		/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
		.sticky + .content {
		  padding-top: 102px;
		}

		#headerfont{
			margin: 20px;
			font-size: 50px;
			font-family: 'ZCOOL XiaoWei', serif;
		}

		.topnav > a {
		font-family: 'ZCOOL XiaoWei', serif;	
		}

		* {box-sizing:border-box}

		/* Slideshow container */
		.slideshow-container {
			position: relative;
			margin: auto;
		}

		/* Hide the images by default */
		.mySlides {
		  display: none;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  margin-top: -22px;
		  padding: 16px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}

		/* Caption text */
		.text {
		  color: #f2f2f2;
		  font-size: 100px;
		  font-family: 'ZCOOL XiaoWei', serif;
		  padding: 8px 12px;
		  position: absolute;
		  bottom: 8px;
		  width: 100%;
		  text-align: center;
		}
		.slideshow {
			position: absolute;
			top: 300px;

		}
		/* Number text (1/3 etc) */
		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  font-family: 'ZCOOL XiaoWei', serif;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}

		/* The dots/bullets/indicators */
		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		.content {
			width: 100%;
			min-height: 200px;
			background: #5BC236;
			font-family: 'ZCOOL XiaoWei', serif;
			color: white;
			font-size: 30px;
		}

		.introdution > div {
			height: 400px;
			width: 50%;	
		}

		.flex-container {
		  display: flex;
		  background-color: #5BC236;
		  flex-wrap: wrap;
		  justify-content: center;
		}

		.flex-container > div {
		  background-color: #5BC236;
		  margin: 10px;
		  padding: 20px;
		  font-size: 30px;
		  height: 300px;
		  min-width: 300px;
		  max-width: 400px;
		}

		.flex-container p {
			color: white;
			text-align: center;
			font-family: 'ZCOOL XiaoWei', serif;
		}

				* {
		  box-sizing: border-box;
		}

		.column {
		  float: left;
		  width: 50%;
		  padding: 10px;
		  max-width: 100%;
		  height: auto;
		  border: 5px solid #7BD858;
		}

		/* Clearfix (clear floats) */
		.row::after {
		  content: "";
		  clear: both;
		  display: table;
		}

		.content {
			width: 100%;
			min-height: 200px;
			background: #5BC236;
			font-family: 'ZCOOL XiaoWei', serif;
			color: white;
			font-size: 30px;

		}
		
		header {
			background-color: #7BD858;
			padding: 5px;
			text-align: center;
			}

				div.gallery {
		  border: 0px solid #ccc;
		}

		div.gallery:hover {
		  border: 5px solid #7BD858;
		}

		div.gallery img {
		  width: 100%;
		  height: auto;
		}

		div.desc {
		  padding: 15px;
		  text-align: center;
		  color: white;
		  font-family: 'ZCOOL XiaoWei', serif;
		  font-size: 25px; 
		}

		* {
		  box-sizing: border-box;
		}

		.responsive {
		  padding: 0 6px;
		  float: left;
		  width: 24.99999%;
		}

		@media only screen and (max-width: 700px) {
		  .responsive {
		    width: 49.99999%;
		    margin: 6px 0;
		  }
		}

		@media only screen and (max-width: 500px) {
		  .responsive {
		    width: 100%;
		  }
		}

		.clearfix:after {
		  content: "";
		  display: table;
		  clear: both;
		}

